@{
    ViewData["Title"] = "Home Page";
}

<a asp-controller="Home" asp-action="Edit" asp-route-PK="0">Dodaj produkt</a>


<table class="table">

@foreach (var warzywo in ViewBag.prod)
{
    <tr>
        <td>@warzywo.Name</td>
        <td>@warzywo.Price zł</td>
        <td>@warzywo.Quantity</td>
        <td><a asp-controller="Home" asp-action="Edit" asp-route-PK="@warzywo.Id">Edytuj</a></td>
        <td><a asp-controller="Home" asp-action="Delete" asp-route-PK="@warzywo.Id">Usuń</a></td>
    </tr>
}
</table>